.product {
  max-width: 200px;
  width: 100%;
  /* height: 300px; */
  cursor: pointer;
}

.product-img {
  margin-bottom: 2rem;
  height: 260px;
  object-fit: cover;
}

.product-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product-reviews-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.product-review {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.product-price {
  font-size: 1.8rem;
  font-weight: 700;
  position: relative; 
}

.product-price span {
  font-size: 1.2rem;
  background: rgba(29, 219, 29, 0.199);
  display: inline-block;
  padding: 0.2rem 0.7rem;
  position: absolute;
  top: -5px;
  right: -35px;
  border-radius: 10px;
}

.add-to-cart {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-to-cart:hover {
  background-color: rgb(233, 233, 233);
}
