* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 10px; /* 10xp == 1rem */
}

/* body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

img {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  height: 6rem;
  border-bottom: 1px solid rgb(204, 204, 204);
}

header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-size: 2.5rem;
  font-weight: 900;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

footer {
  padding: 3rem;
  text-align: center;
}

.error {
  color: red;
}

.goback {
  margin-block: 1rem;
  display: inline-block;
  font-size: 1.5rem;;
}

.products {
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  row-gap: 4rem;
}

.loading-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  font-size: 5rem;
}

.wrapper {
  display: flex;
  gap: 2rem;
}

.wrapper img {
  width: 300px;
}

.wrapper .description {
  font-size: 1.6rem;
  margin-bottom: 3.5rem;
}

.wrapper .information .review {
  margin-bottom: 2rem;
}

.wrapper .information .review h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.wrapper .information .review p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkout {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout-page {
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-inline: auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-page__img-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkout-page__img {
  object-fit: cover;
  width: 70px;
  height: 100%;
  border-radius: 4px;
}

.checkout-page__name {
  font-size: 2rem;
  font-weight: 700;
}

.checkout-page__price {
  font-size: 1.6rem;
}

.checkout-page__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.checkout-page__controls button {
  background-color: none;
  font-size: 1.5rem;
  background: none;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-page__quantity {
  font-size: 1.6rem;
}

.checkout-page__total {
  font-size: 1.6rem;
}

.checkout__grand-total {
  text-align: center;
  font-size: 2rem;
}

.checkout__grand-total span {
  font-weight: 600;
}

.checkout-page__link {
  text-align: center;
  padding: 0.7rem 2rem;
  background: #ccc;
  font-size: 1.4rem;
  border: 1px solid gray;
  margin-block: 2rem;
  border-radius: 4px;
  color: black;
  font-weight: 500;
  width: fit-content;
  display: block;
  text-align: center;
  margin-inline: auto;
}

/* checkout success page */

.checkout-success-page {
  min-height: calc(100vh - 10rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.checkout-success-page__title {
  font-size: 3rem;
  text-align: center;
}
.checkout-success-page__link {
  font-size: 1.5rem;;
}

/* contact us */

.contact-us {
  margin-top: 6rem;
}

.contact-us h1 {
  text-align: center;
  margin-bottom: 3rem;
}


form {
  width: 400px;
  margin-inline: auto;
}

form div {
  margin-bottom: 1rem;
}

form label {
  display: block;
  font-size: 1.5rem;
}

form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  /* margin-bottom: 1rem; */
}

form button {
  width: 100%;
  padding-block: 0.4rem;
}
